
RappelJdr/.vs/*
RappelJdr/RappelJdr.Database/bin/*
RappelJdr/RappelJdr.Database/obj/*
RappelJdr/RappelJdr/obj/*
RappelJdr/RappelJdr/bin/*
RappelJdr/RappelJdr.Entities/obj/*
RappelJdr/RappelJdr.Entities/bin/*
